@import './cmps/book-header.css';
@import './cmps/book-add.css';
@import './cmps/book-footer.css';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

h4 {
    display: inline;
}

.capitalize {
    text-transform: capitalize;
}



/* Main content */

/* .main-content{
    height: 500px;
} */

/* User Msg */

.user-msg {
    border: 1px solid black;
    width: 100px;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: rgb(173, 230, 185);
    padding: 10px 20px;
}

/* Reviews */

.review {
    border: 1px solid black;
    width: 200px;
    height: 150px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.sale {
    width: 300px;
    height: 300px;
    text-align: center;
    color: darkblue;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

